body {
    background-color: #f8f9fa; /* Color de fondo claro */
    margin: 0%;
  }
  
  header {
    margin-bottom: 50px;
  }
  
  footer {
    background-color: #343a40; /* Color oscuro para el pie de página */
    color: white;
    padding: 20px 0;
  }
  
  footer p {
    margin-bottom: 0;
  }

  .card-img-top {
    height: 40%; 
    
   }

   .textsangria{
      text-indent: 12px;
   }

  
  
  .card-body {
    overflow-y:auto;
  }
